@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
}

body {
  font-family: 'pretendard';
}

$fonts: (pretendard);
$types1: (
  Thin: 100,
  ExtraLight: 200,
  Light: 300,
  Regular: 400,
  Medium: 500,
  SemiBold: 600,
  Bold: 700,
  ExtraBold: 800,
  Black: 900,
);
@each $font in $fonts {
  @if $font == 'pretendard' {
    @each $type in $types1 {
      @font-face {
        font-family: '#{$font}';
        font-weight: #{nth($type, 2)};
        src: url('/Pretendard-#{nth($type,1)}.subset.woff2')
            format('woff2');
      }
    }
  }
}
